{% extends "base.html" %}

{% block content %}

  <h1>{{ task.name }}</h1>

    <p>Type: {{ task.task_type }}</p>
    <p>Tags:
      {% for tag in task.tags.all %}
        {{ tag.name }}
      {% empty %}
         No tags
      {% endfor %}
    </p>
    <p>Priority: {{ task.priority }}</p>
    <p>Is completed: {{ task.is_completed }}</p>
    <p>Deadline: {{ task.deadline }}</p>
    <p>Description: {{ task.description }}</p>
    <a href="{% url 'tasks:task_update' task.pk %}">Edit</a>
    |
    <a href="{% url 'tasks:task_delete' task.pk %}">Delete</a>
    |
    <a href="{% url 'tasks:task_list' %}">Back to tasks</a>
{% endblock %}
